@using WhiteNoise.Domain.Entities;
@model EstadoClinico

@{
    ViewData["Title"] = "Listagem de Estado Clínico";
}

@Html.RenderPartialAsync("_Header");

<div class="panel">
    <h3>Listagem de Estado Clínico</h3>

    <div>
        <h3>Estado Clínico</h3>
        <dl>
            <dt>
                @Html.DisplayNameFor(x => x.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(x => x.Descricao)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn" asp-controller="EstadoClinico" asp-action="Index">Voltar</a>
    </div>
</div>

@Html.RenderPartialAsync("_Footer");
