@using WhiteNoise.Domain.Entities;

@model IEnumerable<WhiteNoise.Domain.Entities.EstadoClinico>

@{
    ViewData["Title"] = "Listagem de Estado Clínico";
}

<div class="panel">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">@ViewData["Title"]</h2>
        <a class="btn btn-lg btn-primary rounded-pill shadow-sm"
           asp-controller="EstadoClinico" asp-action="Create">
            <i class="bi bi-plus-lg me-2"></i>Adicionar Novo
        </a>
    </div>
    
    <div class="row col-12 d-flex justify-content-between">
        <vc:estado-clinico estado="Estavel"></vc:estado-clinico>
        <vc:estado-clinico estado="Observacao"></vc:estado-clinico>
        <vc:estado-clinico estado="Grave"></vc:estado-clinico>
        <vc:estado-clinico estado="Critico"></vc:estado-clinico>
    </div>

    <div class="row col-12">

        <table class="table table-borderless table-hover">
            <thead>
                <tr class="d-flex justify-content-between">
                    <th>Descrição</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="d-flex justify-content-between">
                        <td>@item.Descricao</td>
                        <td>
                            <a class="btn" asp-controller="EstadoClinico" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                            <a class="btn" asp-controller="EstadoClinico" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn" asp-controller="EstadoClinico" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
        <a class="btn" asp-controller="EstadoClinico" asp-action="Index">Voltar</a>
    </div>
</div>