@model WhiteNoise.Models.Profissional.ProfissionalViewModel

@{
    ViewData["Title"] = "Detalhes do Profissional";
}
<div class="container">
    <h2>Detalhes do Profissional</h2>

    <fieldset class="border p-3 mb-4">
        <legend class="w-auto">Dados Pessoais</legend>

        <div class="form-row mb-2">
            <div class="col-md-6">
                <strong>Nome:</strong>
                <div>@Model.Nome</div>
            </div>

            <div class="col-md-3">
                <strong>CPF:</strong>
                <div>@Model.Cpf</div>
            </div>

            <div class="col-md-3">
                <strong>Data de Nascimento:</strong>
                <div>@Model.DataNascimento.ToString("dd/MM/yyyy")</div>
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col-md-6">
                <strong>Email:</strong>
                <div>@Model.Email</div>
            </div>

            <div class="col-md-3">
                <strong>Sexo:</strong>
                <div>@Model.Sexo</div>
            </div>

            <div class="col-md-3">
                <strong>Ativo:</strong>
                <div>@(Model.Ativo ? "Sim" : "Não")</div>
            </div>
        </div>
    </fieldset>

    <div class="d-flex justify-content-end w-25">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info w-50 me-2">
            <i class="bi bi-pencil-square me-1"></i> Editar
        </a>
        <a asp-action="Index" class="btn btn-outline-secondary ml-2 w-50">
            <i class="bi bi-arrow-left me-1"></i> Voltar
        </a>
    </div>
</div>
