@model IEnumerable<WhiteNoise.Models.Paciente.PacienteViewModel>

<h2>Lista de Pacientes</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo Paciente</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Estado Clínico</th>
            <th>Data Nascimento</th>
            <th>Data Internação</th>
            <th>Ativo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.EstadoClinicoDescricao</td>
            <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
            <td>@item.DataInternacao.ToString("dd/MM/yyyy")</td>
            <td>@(item.Ativo ? "Sim" : "Não")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table> *@

<table-grid controller="Paciente" items="@Model"></table-grid>