@model WhiteNoise.Models.Internacao.InternacaoGridModel

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Detalhes da Internação</h3>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-4 font-weight-bold">Paciente:</div>
                <div class="col-sm-8">@Model.Paciente</div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-4 font-weight-bold">Data de Entrada:</div>
                <div class="col-sm-8">@Model.DataEntrada.ToString("dd/MM/yyyy HH:mm")</div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-4 font-weight-bold">Leito:</div>
                <div class="col-sm-8">@Model.Leito</div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Motivo))
            {
                <div class="row mb-3">
                    <div class="col-sm-4 font-weight-bold">Motivo:</div>
                    <div class="col-sm-8">@Model.Motivo</div>
                </div>
            }

            @if (Model.DataAlta.HasValue)
            {
                <div class="row mb-3">
                    <div class="col-sm-4 font-weight-bold">Data de Alta:</div>
                    <div class="col-sm-8">@Model.DataAlta.Value.ToString("dd/MM/yyyy HH:mm")</div>
                </div>
            }

            @if (Model.TipoSaida.HasValue)
            {
                <div class="row mb-3">
                    <div class="col-sm-4 font-weight-bold">Tipo de Saída:</div>
                    <div class="col-sm-8">@Model.TipoSaida.Value.ToString()</div>
                </div>
            }
        </div>
    </div>

    <div class="d-flex justify-content-between w-100 mt-2">
        <div class="d-flex justify-content-end w-25 mt-2">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary w-50 me-2">
                    <i class="bi bi-pencil me-1"></i> Editar
                </a>
                <a asp-action="Index" class="btn btn-outline-secondary ml-2 w-50">
                    <i class="bi bi-arrow-left me-1"></i> Voltar
            </a>
        </div>

        <div class="d-flex justify-content-end w-50 mt-2">
            <a asp-action="Finalizar" asp-route-id="@Model.Id" class="btn btn-primary ml-2 w-50">
                <i class="bi bi-check-circle me-1"></i> Finalizar Internação
            </a>
        </div>
    </div>
</div>
